<div class="wrapper">
    <div class="header">
        <div class="card_name">{{card_info.name}}</div>
        <div class="system_logo">
            <img *ngIf="card_info.paymentSystem === 'visa'" src="../../assets/visa.svg" alt="VISA">
            <img *ngIf="card_info.paymentSystem === 'mastercard'" src="../../assets/mastercard.svg" alt="MASTERCARD">
        </div>
    </div>
    <div class="card_number">
        <div class="number_chunk">{{card_number_arr[0]}}</div>
        <div class="number_chunk">{{card_number_arr[1]}}</div>
        <div class="number_chunk">{{card_number_arr[2]}}</div>
        <div class="number_chunk">{{card_number_arr[3]}}</div>
    </div>
    <div class="footer">
        <div class="money_amount">{{card_info.amount}}</div>
        <div class="card_date">{{card_info.expirationDate}}</div>
    </div>
</div>
